.Filter {
    position: absolute;
    margin: 0 auto;
    left: 100px;
    top: 20px;
}

.Filter .Menu {
    width: 270px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.Filter .Menu.Sort {
    margin: auto;
}

.Filter .Menu.Search {

}

.Filter .Menu.Reset {

}

.Filter .Words {
    margin-top: 15px;
    width: 270px;
}