.product_form_container {
    width: 400px;
    margin-left: 2vw;

    border: 3px solid #2f4f4f;
    border-radius: 10px;
}

.product_form_group {
    box-sizing: border-box;
    position: relative;
    padding: 30px 20px 0 20px;
}

.product_form_group label {
    display: block;
    margin-bottom: 2px;

    color: #395870;
    font-weight: bold;
}

.product_form_group input {
    box-sizing: border-box;

    width: 100%;
    padding: 5px;

    border: 2px solid #5f9ea0;
    border-radius: 10px;

    color: #636466;
}

.product_form_group textarea {
    box-sizing: border-box;

    width: 100%;
    padding: 5px;

    border: 2px solid #5f9ea0;
    border-radius: 10px 0 0 10px;

    resize: none;
}

.product_form_group input:hover,
.product_form_group textarea:hover {
    background: white;
    color: black;
}

.product_form_group input:focus,
.product_form_group textarea:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.product_form_button {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-around;
}

.product_form_button button {
    width: 150px;
    height: 30px;
    margin-top: 30px;

    border: 2px solid #2f4f4f;
    border-radius: 10px;

    color: black;
    outline: none;
    cursor: pointer;
}

.product_form_button button:hover {
    background: #2f4f4f;
    color: white;
}

.product_form_button button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.product_form_button button:disabled{
    background-color: gray;
    color: black;
}

.product_form_error {
    position: absolute;
    font-size: 12px;
    color: red;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -18px;
}