.shop .shop_table{
    border-collapse: collapse;
    border-left: 3px solid #F79361;
    border-right: 3px solid #F79361;
    border-bottom: 3px solid #F79361;
    font-family: "Lucida Grande", sans-serif;
}

.shop .shop_name{
    background: #F79361;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: white;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin: 0;
}

.shop .shop_table td,
.shop .shop_table th {
    box-sizing: border-box;

    width: 120px;
    padding: 10px;

    text-align: center;
}

.shop .shop_table th {
    text-align: center;
    font-size: 18px;
}

.shop .shop_table tr:nth-child(2n) {
    background: #e5e5e5;
}